@font-face{font-family:outfit;src:url(../fonts/outfit/Outfit-VariableFont_wght.ttf)}
@font-face{font-family:young-serif;src:url(../fonts/young-serif/YoungSerif-Regular.ttf)}
*{box-sizing:border-box}
body{background:#F3E5D8;color:#594F4E;font-family:'outfit'}
.attribution{font-size:11px;text-align:center}
.attribution a{color:hsl(228,45%,44%)}
main{background:#FFF;padding:40px;width:800px;max-width:100%;border-radius:15px;margin:5vh auto}
.fimg{max-width:100%;width:auto;border-radius:15px;margin-bottom:30px}
h1{font-size:2.5rem;color:#32312F;font-family:'young-serif'}
h2{padding-left:20px;color:#742F4B;font-weight:600;font-size:1.4rem;margin-top:50px}
ul li,ol li{padding:10px}
section h1{color:#844E3E;font-size:2.1rem;font-weight:600}
section{border-bottom:1px solid #DDD;padding-bottom:20px;margin-bottom:20px}
table.table{width:100%;border-collapse:collapse}
.table th,.table td{text-align:left;font-weight:400;padding:10px 20px}
.table tr{border-bottom:1px solid #DDD}
.table td{color:#844E3E;font-weight:700}
section:last-child,.table tr:last-child{border:0}
